<!DOCTYPE html>
<html ng-app="ylbWxApp" ng-controller="rootCtrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <base href="/">
  <title>医联邦-医生端</title>

  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/angular-motion/0.4.2/angular-motion.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-additions/dist/bootstrap-additions.min.css" rel="stylesheet">

  <!-- build:css assets/css/app.min.css -->
  <link href="assets/css/styles.css" rel="stylesheet">
  <!-- endbuild -->

  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.4.3/angular.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-strap/2.2.4/angular-strap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-strap/2.2.4/angular-strap.tpl.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <!-- build:js assets/js/3rd.min.js -->
  <script src="vendor/angular-cookies/angular-cookies.js"></script>
  <script src="vendor/angular-animate/angular-animate.js"></script>
  <script src="vendor/angular-touch/angular-touch.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
  <!-- endbuild -->

  <!-- build:js assets/js/app.min.js -->
  <script src="wxappd/app.js"></script>
  <script src="wxappd/profile/profile.js"></script>
  <script src="wxappd/profile/profile-edit.js"></script>
  <script src="wxappd/profile/profile-patient.js"></script>
  <script src="wxappd/profile/profile-patient-edit.js"></script>
  <script src="wxappd/search/search-doctor.js"></script>
  <script src="wxappd/search/search-doctor-result.js"></script>
  <script src="wxappd/search/search-patient.js"></script>
  <script src="wxappd/search/search-patient-result.js"></script>
  <script src="wxappd/patient/my-doctors.js"></script>
  <script src="wxappd/patient/my-friends.js"></script>
  <script src="wxappd/patient/cases.js"></script>

  <script src="wxappd/doctor/my-friends.js"></script>
  <script src="wxappd/doctor/my-patients.js"></script>

  <script src="wxappd/common/my-orders.js"></script>
  <script src="wxappd/common/order-detail.js"></script>

  <script src="common/service/resources.js"></script>
  <script src="common/service/common-utils.js"></script>
  <!-- endbuild -->
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div ui-view class="page-content"></div>
    </div>
  </div>


  <div class="row" id="doctorMenu" ng-if="currentUser.doctor">
    <div class="btn-group btn-group-justified navbar-fixed-bottom" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" style="padding:1px">
          <img src="/assets/image/logo.png" style="width:42px">
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="doctorMenu.sub1"
                aria-haspopup="true" aria-expanded="false">患者
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="doctorMenu.sub2"
                aria-haspopup="true" aria-expanded="false">医友
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="doctorMenu.sub3"
                aria-haspopup="true" aria-expanded="false">更多
        </button>
      </div>
    </div>
  </div>

  <div class="row" id="patientMenu" ng-if="currentUser.patient">
    <div class="btn-group btn-group-justified navbar-fixed-bottom" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" style="padding:1px">
          <img src="/assets/image/logo.png" style="width:42px">
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="patientMenu.sub1"
                aria-haspopup="true" aria-expanded="false">医生
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="patientMenu.sub2"
                aria-haspopup="true" aria-expanded="false">病历
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="patientMenu.sub3"
                aria-haspopup="true" aria-expanded="false">更多
        </button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
