<!DOCTYPE html>
<html ng-app="ylbWxApp" ng-controller="rootCtrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  <base href="/">
  <title>医联邦-医生端</title>

  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/angular-motion/0.4.2/angular-motion.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-additions/dist/bootstrap-additions.min.css" rel="stylesheet">


  <!--<link href="assets/css/components-rounded.css" rel="stylesheet">-->
  <!--<link href="assets/css/layout.css" rel="stylesheet">-->
  <link href="assets/css/styles.css" rel="stylesheet">


  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.4.3/angular.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-strap/2.2.4/angular-strap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-strap/2.2.4/angular-strap.tpl.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <!-- build:js assets/js/3rd.min.js -->
  <script src="vendor/angular-cookies/angular-cookies.js"></script>
  <script src="vendor/angular-animate/angular-animate.js"></script>
  <script src="vendor/angular-touch/angular-touch.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
  <!-- endbuild -->

  <!-- build:js assets/js/app.min.js -->
  <script src="wxappd/app.js"></script>
  <script src="wxappd/profile/profile.js"></script>
  <script src="wxappd/profile/profile-edit.js"></script>
  <script src="wxappd/profile/profile-patient.js"></script>
  <script src="wxappd/profile/profile-patient-edit.js"></script>
  <script src="wxappd/search/search-doctor.js"></script>
  <script src="wxappd/search/search-doctor-result.js"></script>
  <script src="wxappd/search/search-patient.js"></script>
  <script src="wxappd/search/search-patient-result.js"></script>
  <script src="wxappd/patient/my-doctors.js"></script>
  <script src="wxappd/patient/my-friends.js"></script>
  <script src="wxappd/patient/my-friends-cases.js"></script>
  <script src="wxappd/patient/my-orders-history.js"></script>
  <script src="wxappd/patient/cases.js"></script>

  <script src="wxappd/doctor/my-friends.js"></script>
  <script src="wxappd/doctor/my-patients.js"></script>
  <script src="wxappd/doctor/my-patients-cases.js"></script>
  <script src="wxappd/doctor/my-orders-history.js"></script>

  <script src="wxappd/common/my-appointments.js"></script>
  <script src="wxappd/common/order-detail.js"></script>
  <script src="wxappd/common/shop.js"></script>
  <script src="wxappd/common/goods-details.js"></script>

  <script src="common/service/resources.js"></script>
  <script src="common/service/common-utils.js"></script>
  <!-- endbuild -->
</head>

<body>
<div class="container-fluid" ng-if="stateName!='entry' && currentUser.doctor">
  <!-- display on pc -->
  <div class="page-content page-content-popup visible-md-block visible-lg-block">
    <div class="page-sidebar-wrapper ">
      <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu">
          <li class="open">
            <a href="javascript:;">
              <span class="title">患者</span>
              <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
              <li ng-repeat="item in doctorMenu.sub1">
                <a ui-sref="{{item.location}}"><span class="title">{{item.text}}</span></a>
              </li>
            </ul>
          </li>
          <li class="open">
            <a href="javascript:;">
              <span class="title">医友</span>
              <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
              <li ng-repeat="item in doctorMenu.sub2">
                <a ui-sref="{{item.location}}"><span class="title">{{item.text}}</span></a>
              </li>
            </ul>
          </li>
          <li class="open">
            <a href="javascript:;">
              <span class="title">更多</span>
              <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
              <li ng-repeat="item in doctorMenu.sub3">
                <a ui-sref="{{item.location}}"><span class="title">{{item.text}}</span></a>
              </li>
            </ul>
          </li>
          <!--<li ng-repeat="item in menu"><a ui-sref="{{item.location}}"><span class="title">{{item.label}}</span></a></li>-->
        </ul>
      </div>
    </div>

    <div class="page-fixed-main-content">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <div ui-view style="border: 1px solid #e1e1e1;border-radius: 4px;"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- display on mobile -->
  <div class="row hidden-md hidden-lg">
    <!--<div class="col-xs-12">-->
      <div ui-view class="page-content"></div>
    <!--</div>-->
  </div>

  <div class="row hidden-md hidden-lg ylb-menu" id="doctorMenu">
    <div class="btn-group btn-group-justified navbar-fixed-bottom" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" style="padding:1px;border-radius: 0;">
          <img src="/assets/image/logo.png" style="width:41px">
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="doctorMenu.sub1"
                aria-haspopup="true" aria-expanded="false">患者
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="doctorMenu.sub2"
                aria-haspopup="true" aria-expanded="false">医友
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="doctorMenu.sub3"
                aria-haspopup="true" aria-expanded="false" style="border-radius: 0;">更多
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-if="stateName!='entry' && currentUser.patient">
  <div class="row">
    <!--<div class="col-xs-12">-->
      <div ui-view class="page-content"></div>
    <!--</div>-->
  </div>

  <div class="row ylb-menu" id="patientMenu">
    <div class="btn-group btn-group-justified navbar-fixed-bottom" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" style="padding:1px;border-radius: 0;">
          <img src="/assets/image/logo.png" style="width:41px">
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="patientMenu.sub1"
                aria-haspopup="true" aria-expanded="false">医生
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="patientMenu.sub2"
                aria-haspopup="true" aria-expanded="false">病历
        </button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-lg btn-default" data-placement="top" bs-dropdown="patientMenu.sub3"
                aria-haspopup="true" aria-expanded="false" style="border-radius: 0;">更多
        </button>
      </div>
    </div>
  </div>
</div>

<div ui-view class="page-content" ng-if="!currentUser"></div>

</body>
</html>
