<!-- item picturl -->
<div class="portlet light" ng-show="item">
  <div class="portlet-body">
    <div class="text-center" style="margin-top: -20px; margin-right: -20px; margin-left: -20px">
      <img ng-src="{{item.picUrl}}" style="width:100%"/>
    </div>

    <div class="space-10"></div>
    <div>
      <span class="profile-desc-text">{{item.name}}</span>
    </div>
    <div>
      <span style="color: orange; font-size: 2em">¥ {{item.price}}</span>
    </div>

  </div>
</div>

<div class="portlet light" ng-show="item">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">商品详情</span>
    </div>
  </div>
  <div class="portlet-body">
    <span class="profile-desc-text" ng-bind-html="item.detailHtml"></span>
    <!-- display on pc -->
    <button class="btn btn-block btn-danger visible-md-block visible-lg-block" ng-click="showBuyModal()">
      立即购买
    </button>
  </div>
</div>

<!-- display on mobile -->
<nav class="navbar navbar-default navbar-fixed-bottom wlshop-navigation-bgcolor hidden-md hidden-lg"
     style="margin-bottom: 45px;">
  <div class="col-xs-12" style="padding-top:10px; margin-bottom:10px;">
    <button class="btn btn-block btn-danger" ng-click="showBuyModal()">
      立即购买
    </button>
  </div>
</nav>

