<section id="patientProfile" ng-show="patient">
  <div class="text-center">
    <h4>{{order.displayBookingTime}}&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="label label-primary" ng-show="uiFlags.isShowBookingButtons && !isEditingBookingTime"
            ng-click="toggleSetBookingTime()">
        <i class="fa fa-pencil-square-o"></i> 设置
      </span>
    </h4>

    <!--<button type="button" class="btn btn-primary btn-sm" ng-show="uiFlags.isShowBookingButtons && !isEditingBookingTime"-->
    <!--ng-click="toggleSetBookingTime()">立即预约-->
    </button>
  </div>

  <!--patient set booking time-->
  <div class="alert alert-warning" role="alert" ng-if="isEditingBookingTime">
    <form class="form-horizontal">
      <div class="form-group">
        <!--<label class="control-label"><i class="fa fa-calendar"></i> Datetime picker</label><br>-->
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="order.bookingTimeDate" data-autoclose="1"
                 data-date-format="yyyy-MM-dd" data-date-type="date" data-min-date="today" placeholder="日期"
                 bs-datepicker>
        </div>
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="order.bookingTimeTime" data-autoclose="1"
                 data-time-format="HH:mm" data-time-type="date" data-use-native="false" placeholder="时间"
                 bs-timepicker>
        </div>
      </div>
    </form>
    <div class="pull-right">
      <button type="button" class="btn btn-default btn-sm" ng-click="toggleSetBookingTime()">
        取消
      </button>
      <button type="button" class="btn btn-success btn-sm" ng-click="saveBookingTime()">
        保存
      </button>
    </div>
    <p>&nbsp;</p>
  </div>

  <div class="space-10"></div>
  <!-- huizhen doctors -->
  <div class="panel panel-default" ng-if="uiFlags.isShowHuizhenDoctors">
    <div class="panel-heading">会诊医生</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6" ng-repeat="doctor in order.doctors">
          <div class="thumbnail">
            <img ng-src="{{doctor.avatar}}" style="width:100%">

            <div class="caption">
              <h3>{{doctor.name}}</h3> {{doctor.title}}
              <p>
                {{doctor.department}}<br>
                {{doctor.hospital}}
              </p>

              <p>
                <span class="label label-default" ng-show="doctor.isConfirmed==undefined">未确认</span>
                <span class="label label-danger" ng-show="doctor.isConfirmed==false">已拒绝</span>
                <span class="label label-success" ng-show="doctor.isConfirmed">已确认</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="general-item-list">
    <div class="item">
      <div class="item-head">
        <div class="item-details">
          <img class="item-pic avatar-md" ng-src="{{patient.avatar}}">
          <span class="item-name">{{patient.name}}</span>
          <span class="item-label"></span>
        </div>
        <span class="item-status"></span>
      </div>
      <div class="item-body">
        <div class="row">
          <div class="col-xs-8">
            <span>年龄：{{patient.age}}</span><br>
            <span>性别：{{patient.displaySex}}</span><br>
            <span>地区：{{patient.province}}  {{patient.city}}</span><br>
            <span>疾病：{{patient.displaySickness}}</span>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-block" ng-click="showCases()">病历</button>

            <!-- patient payment options -->
            <div ng-show="uiFlags.isShowPaymentButtons" style="margin-top: 5px">
              <button type="button" class="btn btn-success btn-block" ng-show="order.status=='init'"
                      ng-click="payment()">支付
              </button>
              <button type="button" class="btn btn-default btn-block" ng-show="order.status=='paid'"
                      disabled>已支付
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="uiFlags.isShowDoctorConfirmButtons">
    <div class="col-xs-4 col-xs-offset-1">
      <button type="button" class="btn btn-success btn-block" ng-click="doctorAcceptBookingTime()">
        同意
      </button>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <button type="button" class="btn btn-danger btn-block" ng-click="doctorRejectBookingTime()">
        拒绝
      </button>
    </div>
  </div>
</section>
<hr>

<section id="comments" ng-show="order">
  <div class="row" ng-repeat="comment in order.comments | orderBy:'created'">
    <div class="col-xs-12 media">
      <div class="media-left">
        <a href="#">
          <img class="media-object avatar-md" ng-src="{{comment.creator.avatar}}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{comment.creator.name}}</h4>
        {{comment.comment}}
        <div>
          <small>{{comment.displayCreated}}</small>
          <span class="pull-right">
            <span ng-show="comment.canDelete">
              <a href="" ng-click="deleteComment($index)">删除</a>
            </span>
          </span>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="评论..." ng-model="newComment.comment">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="createComment()">发布</button>
          </span>
      </div>
    </div>
  </div>
</section>
