<div class="portlet light" ng-show="patient">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">订单详情</span>
    </div>
  </div>

  <div class="text-center">
    <h4 class="font-green-sharp"><b>{{order.displayBookingTime}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="label label-primary" ng-show="uiFlags.isShowBookingButtons && !isEditingBookingTime"
            ng-click="toggleSetBookingTime()">
        <i class="fa fa-pencil-square-o"></i> 设置
      </span>
    </h4>

    <!--<button type="button" class="btn btn-primary btn-sm" ng-show="uiFlags.isShowBookingButtons && !isEditingBookingTime"-->
    <!--ng-click="toggleSetBookingTime()">立即预约-->
    </button>
  </div>

  <!--patient set booking time-->
  <div class="alert alert-warning" role="alert" ng-if="isEditingBookingTime">
    <form class="form-horizontal">
      <div class="form-group">
        <!--<label class="control-label"><i class="fa fa-calendar"></i> Datetime picker</label><br>-->
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="order.bookingTimeDate" data-autoclose="1"
                 data-date-format="yyyy-MM-dd" data-date-type="date" data-min-date="today" placeholder="日期"
                 bs-datepicker>
        </div>
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="order.bookingTimeTime" data-autoclose="1"
                 data-time-format="HH:mm" data-time-type="date" data-use-native="false" placeholder="时间"
                 bs-timepicker>
        </div>
      </div>
    </form>
    <div class="pull-right">
      <button type="button" class="btn btn-default btn-sm" ng-click="toggleSetBookingTime()">
        取消
      </button>
      <button type="button" class="btn btn-success btn-sm" ng-click="saveBookingTime()">
        保存
      </button>
    </div>
    <p>&nbsp;</p>
  </div>

  <div class="general-item-list">
    <div class="item">
      <div class="item-head">
        <div class="item-details">
          <img class="item-pic avatar-md" ng-src="{{patient.avatar}}">
          <span class="profile-usertitle-name">{{patient.name}}</span>
          <span class="item-label"></span>
        </div>
        <span class="item-status"></span>
      </div>
      <div class="item-body">
        <div class="row">
          <div class="col-xs-8">
            <span class="profile-desc-title">年龄：</span>
            <span class="profile-desc-text">{{patient.age}}</span><br>
            <span class="profile-desc-title">性别：</span>
            <span class="profile-desc-text">{{patient.displaySex}}</span><br>
            <span class="profile-desc-title">地区：</span>
            <span class="profile-desc-text">{{patient.province}}  {{patient.city}}</span><br>
            <span class="profile-desc-title">疾病：</span>
            <span class="profile-desc-text">{{patient.displaySickness}}</span>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-primary btn-block" ng-click="showCases()">病历</button>

            <!-- patient payment options -->
            <div ng-show="uiFlags.isShowPaymentButtons" style="margin-top: 5px">
              <button type="button" class="btn btn-success btn-block" ng-show="order.status=='init'"
                      ng-click="payment()">支付
              </button>
              <span></span>
              <button type="button" class="btn btn-default btn-block" ng-show="order.status=='paid'"
                      disabled>已支付
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="uiFlags.isShowDoctorConfirmButtons">
    <div class="col-xs-4 col-xs-offset-1">
      <button type="button" class="btn btn-success btn-block" ng-click="doctorAcceptBookingTime()">
        同意
      </button>
    </div>
    <div class="col-xs-4 col-xs-offset-1">
      <button type="button" class="btn btn-danger btn-block" ng-click="doctorRejectBookingTime()">
        拒绝
      </button>
    </div>
  </div>
</div>

<!-- huizhen doctors -->
<div class="portlet light" ng-if="uiFlags.isShowHuizhenDoctors">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">会诊医生</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="row">
      <div class="col-xs-6" ng-repeat="doctor in order.doctors">
        <div class="thumbnail">
          <img ng-src="{{doctor.avatar}}" style="width:100%">

          <div class="caption">
            <h3 class="profile-usertitle-name">{{doctor.name}}</h3>
            <span class="profile-desc-title">{{doctor.title}}</span>

            <p>
              <span class="profile-desc-text">{{doctor.department}}</span><br>
              <span class="profile-desc-text">{{doctor.hospital}}</span>
            </p>

            <p>
              <span class="label label-default" ng-show="doctor.isConfirmed==undefined">未确认</span>
              <span class="label label-danger" ng-show="doctor.isConfirmed==false">已拒绝</span>
              <span class="label label-success" ng-show="doctor.isConfirmed">已确认</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="portlet light" ng-if="uiFlags.isShowRankInput">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">订单评价</span>
    </div>
  </div>

  <div class="portlet-body">
    <div>订单已完成，请评价：</div>
    <div>
        <span class="text-danger" ng-repeat="val in rankStars">
          <i class="fa fa-star fa-2x" ng-click="setRank(val)"></i>
        </span>
        <span class="text-danger" ng-repeat="val in rankStarsO">
          <i class="fa fa-star-o fa-2x" ng-click="setRank(val)"></i>
        </span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="说点什么吧..." ng-model="order.rank.memo">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="saveRank()">发布</button>
          </span>
    </div>
  </div>
</div>
<!--<section ng-if="uiFlags.isShowRankInput">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!---->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<div class="portlet light" ng-if="uiFlags.isShowRankResult">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">订单评价</span>
    </div>
  </div>

  <div class="portlet-body">
    <div>订单已完成，患者评价：</div>
    <div>
        <span class="text-danger" ng-repeat="val in rankStars">
          <i class="fa fa-star fa-2x"></i>
        </span>
        <span class="text-danger" ng-repeat="val in rankStarsO">
          <i class="fa fa-star-o fa-2x"></i>
        </span>
    </div>
    <div>
      <span>{{order.rank.memo}}</span>
    </div>
  </div>
</div>
<!--<section ng-if="uiFlags.isShowRankResult">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!---->
<!--</div>-->
<!--</div>-->
<!--</section>-->


<div class="portlet light" ng-show="order">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">订单评论</span>
    </div>
  </div>

  <div class="portlet-body">
    <div ng-if="!order.comments || order.comments.length==0">
      暂无评论
    </div>

    <div class="general-item-list">
      <div class="item" ng-repeat="comment in order.comments | orderBy:'created'">
        <div class="item-head">
          <div class="item-details">
            <img class="item-pic" ng-src="{{comment.creator.avatar}}">
            <span class="item-name primary-link">{{comment.creator.name}}</span>
            <span class="item-label">{{comment.displayCreated}}</span>
          </div>
            <span class="item-status">
              <span ng-show="comment.canDelete">
                <a href="" ng-click="deleteComment($index)">
                  <small>删除</small>
                </a>
              </span>
            </span>
        </div>
        <div class="item-body">
          {{comment.comment}}
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row" ng-repeat="comment in order.comments | orderBy:'created'">-->
  <!--<div class="col-xs-12 media">-->
  <!--<div class="media-left">-->
  <!--<a href="#">-->
  <!--<img class="media-object avatar-md" ng-src="{{comment.creator.avatar}}">-->
  <!--</a>-->
  <!--</div>-->
  <!--<div class="media-body">-->
  <!--<h4 class="media-heading">{{comment.creator.name}}</h4>-->
  <!--{{comment.comment}}-->
  <!--<div>-->
  <!--<small>{{comment.displayCreated}}</small>-->
  <!--<span class="pull-right">-->
  <!--<span ng-show="comment.canDelete">-->
  <!--<a href="" ng-click="deleteComment($index)">删除</a>-->
  <!--</span>-->
  <!--</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<p>&nbsp;</p>-->
  <!--</div>-->


  <hr>
  <div class="row" ng-if="uiFlags.isShowCommentInput">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="新增评论..." ng-model="newComment.comment">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" ng-click="createComment()">发布</button>
          </span>
      </div>
    </div>
  </div>
</div>
