<section id="patientProfile" ng-show="patient">
  <div>{{order.displayBookingTime}}</div>
  <div class="alert alert-warning" role="alert" ng-if="!order.displayBookingTime">
    您还没有预约。
    <button type="button" class="btn btn-primary btn-sm" ng-show="!isEditingBookingTime"
            ng-click="toggleSetBookingTime()">立即预约
    </button>
    <button type="button" class="btn btn-default btn-sm" ng-show="isEditingBookingTime"
            ng-click="toggleSetBookingTime()">取消
    </button>
    <button type="button" class="btn btn-success btn-sm" ng-show="isEditingBookingTime" ng-click="saveBookingTime()">
      保存
    </button>

    <form class="form-horizontal" ng-show="isEditingBookingTime">
      <p>&nbsp;</p>

      <div class="form-group">
        <!--<label class="control-label"><i class="fa fa-calendar"></i> Datetime picker</label><br>-->
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="order.bookingTimeDate" data-autoclose="1"
                 data-date-format="yyyy-MM-dd" data-date-type="date" data-min-date="today" placeholder="日期"
                 bs-datepicker>
        </div>
        <div class="col-xs-6">
          <input type="text" class="form-control" ng-model="order.bookingTimeTime" data-autoclose="1"
                 data-time-format="HH:mm" data-time-type="date" data-use-native="false" placeholder="时间"
                 bs-timepicker>
        </div>
      </div>
    </form>
  </div>
  <div class="general-item-list">
    <div class="item">
      <div class="item-head">
        <div class="item-details">
          <img class="item-pic" ng-src="{{patient.wechat.headimgurl}}">
          <span class="item-name">{{patient.name}}</span>
          <span class="item-label"></span>
        </div>
        <span class="item-status"></span>
      </div>
      <div class="item-body">
        <div class="row">
          <div class="col-xs-9">
            <span>年龄：{{patient.age}}</span><br>
            <span>性别：{{patient.displaySex}}</span><br>
            <span>地区：{{patient.province}}  {{patient.city}}</span><br>
            <span>疾病：{{patient.displaySickness}}</span>
          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-primary btn-block" ng-click="showCases()">病历</button>
            <button type="button" class="btn btn-success btn-block" ng-show="order.status=='init'" ng-click="payment()">支付</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>

<section id="comments" ng-show="order">
  <div class="row" ng-repeat="comment in order.comments | orderBy:'created'">
    <div class="col-xs-12 media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" ng-src="{{comment.creator.avatar}}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{comment.creator.name}}</h4>
        {{comment.comment}}
        <div>
          <small>{{comment.displayCreated}}</small>
          <span class="pull-right">
            <span ng-show="comment.canDelete">
              <a href="" ng-click="deleteComment($index)">删除</a>
            </span>
          </span>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="评论..." ng-model="newComment.comment">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="createComment()">发布</button>
          </span>
      </div>
    </div>
  </div>
</section>
