<div class="row" ng-if="requests && requests.length>0 && !isShowRequests">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert" ng-click="showRequests()">你有 {{requests.length}} 条好友请求未处理。</div>
  </div>
</div>

<div class="row" ng-if="isShowRequests">
  <div class="col-xs-12">
    <div class="general-item-list">
      <div class="item" ng-repeat="request in requests">
        <div class="item-head">
          <div class="item-details" ng-click="showRequestDoctorProfile($index)">
            <img class="item-pic" ng-src="{{request.fromAvatar}}">
            <span class="item-name">{{request.fromName}}</span>
            <span class="item-label">{{request.message}}</span>
          </div>
          <span class="item-status">
            <button type="button" class="btn btn-danger" ng-click="reject($index)">拒绝</button>
            <button type="button" class="btn btn-success" ng-click="accept($index)">同意</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="friends">
  <div class="col-xs-12">
    <div class="general-item-list">
      <div class="item" ng-repeat="doctor in friends" ng-click="showDetails($index)">
        <div class="item-head">
          <div class="item-details">
            <div class="item-pic-container">
              <img class="item-pic" ng-src="{{doctor.avatar}}">
              <span class="item-pic-v-icon"><i class="fa fa-vimeo-square"></i></span>
            </div>
            <span class="item-name">{{doctor.name}}</span>
            <span class="item-label"></span>
          </div>
          <span class="item-status">{{doctor.hospital}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
