<section>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: uiFlags.type=='suizhen'}"
              ng-click="displayPatients('suizhen')"> 随诊患者
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: uiFlags.type=='jiwang'}"
              ng-click="displayPatients('jiwang')"> 既往患者
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: uiFlags.type=='putong'}"
              ng-click="displayPatients('putong')"> 普通患者
      </button>
    </div>
  </div>
</section>

<section id="myPatients" ng-if="patients">
  <span ng-hide="patients.length > 0">没有数据</span>

  <div class="general-item-list">
    <div class="item" ng-repeat="patient in patients" ng-click="showDetails(patients.wechat.openid)"
         ng-swipe-left="itemButton=$index">
      <div class="item-head">
        <div class="item-details">
          <div class="item-pic-container">
            <img class="item-pic" ng-src="{{patient.displayAvatar}}">
            <span class="item-pic-v-icon"><i class="fa fa-vimeo-square"></i></span>
          </div>
          <span class="item-name">{{patient.name}}</span>
          <span class="item-label"></span>
        </div>
        <!--<button type="button" class="btn btn-danger pull-right" ng-if="itemButton == $index"></button>-->
        <span class="item-status">{{patient.hospital}}&nbsp;&nbsp;</span>
      </div>
    </div>
  </div>
</section>
