<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modalData.title}}</h4>
      </div>
      <div class="modal-body">
        <!-- add medicalImaging-->
        <div ng-if="modalData.type == 'medicalImaging'">
          <form class="form-horizontal" name="frmMedicalImaging">
            <div class="form-group">
              <div class="col-xs-10 col-xs-offset-1">
                <input type="text" class="form-control" name="title" ng-model="modalData.data.name" placeholder="影像学资料"
                       required>
              </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error':modalData.isShowWarning}">
              <div class="col-xs-10 col-xs-offset-1">
                <input type="url" class="form-control" name="url" ng-model="modalData.data.url" placeholder="输入链接"
                       required>

                <div class="alert alert-warning space-10" role="alert" ng-show="modalData.isShowWarning">
                  请输入完整的URL（以HTTP或HTTPS开头）
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- add doctor or patient -->
        <div class="general-item-list" ng-if="modalData.type != 'medicalImaging' && modalData.type != 'image'">
          <div class="item" ng-repeat="item in modalData.data"
               ng-click="onLinkItemSelected(modalData.type, item);$hide()">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic avatar-md" ng-src="{{item.avatar}}">
                <span class="item-name">{{item.name}}</span>
                <span class="item-label">{{item.displaySex}}  {{item.age}}</span>
              </div>
              <span class="item-status"></span>
            </div>
          </div>
        </div>

        <span ng-show="!modalData.data || modalData.data.length ==0">没有数据</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
        <button type="button" class="btn btn-success" ng-show="modalData.type == 'medicalImaging'"
                ng-click="onLinkItemSelected(modalData.type, modalData.data)">
          确定
        </button>
      </div>
    </div>
  </div>
</div>
