<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{modalData.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="general-item-list">
          <div class="item" ng-repeat="item in modalData.data" ng-click="onLinkItemSelected(modalData.type, item);$hide()">
            <div class="item-head">
              <div class="item-details">
                <img class="item-pic" ng-src="{{item.displayAvatar}}">
                <span class="item-name">{{item.name}}</span>
                <span class="item-label">{{item.displaySex}}  {{item.age}}</span>
              </div>
              <span class="item-status"></span>
            </div>
          </div>
        </div>

        <span ng-show="!modalData.data || modalData.data.length ==0">没有数据</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
        <!--<button type="button" class="btn btn-success" ng-click="addFriend(message);$hide()">发送</button>-->
      </div>
    </div>
  </div>
</div>
