<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">患者病历</span>
    </div>
  </div>

  <div class="portlet-body">
    <div class="row" ng-if="hasPostPrivilege">
      <div class="col-xs-12">
        <form>
          <textarea class="form-control" rows="3" ng-model="newCase.content"></textarea>

          <p></p>

          <div class="general-item-list pull-left" ng-show="newCase.link">
            <div class="item">
              <div class="item-head">
                <div class="item-details">
                  <img class="item-pic" ng-src="{{newCase.link.avatar}}">
                  <span class="item-name">{{newCase.link.title}}</span>
                </div>
                <span class="item-status"></span>
              </div>
            </div>
          </div>

          <!--<div class="alert alert-danger" ng-show="uiFlags.isInvalidContent">请输入内容或添加链接。</div>-->
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default" id="links" name="links" bs-dropdown="ddLinkTypes">
              {{selectedLink.label}} <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-success" ng-click="createCase()">发布</button>
          </div>
        </form>
      </div>
    </div>


    <div class="general-item-list" ng-show="cases && cases.length > 0">
      <div class="item" ng-repeat="case in cases">
        <div class="item-head">
          <div class="item-details">
            <img class="item-pic" ng-src="{{case.creator.avatar}}">
            <span class="item-name primary-link">{{case.creator.name}}</span>
            <span class="item-label">{{case.displayCreated}}</span>
          </div>
            <span class="item-status">
              <span class="pull-right">
                <span ng-show="case.canDelete">
                  <a href="" ng-click="deleteCase($index)">
                    <small>删除</small>
                  </a> |
                </span>
                <a href="" ng-click="showCommentInput($index)">
                  <small>评论</small>
                </a>
              </span>

              <!--<div class="btn-group btn-group-xs btn-group-solid">-->
                <!--<button type="button" class="btn red"  ng-show="case.canDelete">删除</button>-->
                <!--<button type="button" class="btn green">评论</button>-->
              <!--</div>-->

              <!--<span ng-show="case.canDelete">-->
                <!--<a href="" class="btn btn-sm red-stripe" ng-click="deleteCase($index)">删除</a>-->
              <!--</span>-->
              <!--<a href="" class="btn btn-sm green-stripe" ng-click="showCommentInput($index)">评论</a>-->
            </span>
        </div>
        <div class="item-body">
          {{case.content}}
        </div>
        <div class="space-10"></div>
        <blockquote class="hero" style="margin-left:50px" ng-if="case.link">
          <div class="general-item-list" ng-click="showLinkTarget(case.link)">
            <div class="item">
              <div class="item-head">
                <div class="item-details">
                  <!--<i class="fa fa-link"></i>-->
                  <img class="item-pic" ng-src="{{case.link.avatar}}">
                  <span class="item-name primary-link">{{case.link.title}}</span>
                </div>
                <span class="item-status"></span>
              </div>
            </div>
          </div>
        </blockquote>


        <ul class="list-group" style="margin-left: 50px;">
          <li class="list-group-item disabled" ng-repeat="comment in case.comments">
            {{comment.creator.name}}：{{comment.comment}}
            <a href="" ng-show="comment.canDelete" ng-click="deleteComment(case, $index)" class="pull-right">
              <small>删除</small>
            </a>
          </li>
        </ul>
        <div class="input-group" ng-show="case.isShowCommentInput" style="margin-left: 50px;">
          <input type="text" class="form-control" placeholder="评论..." ng-model="newComment.comment">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="createComment($index)">发布</button>
          </span>
        </div>
      </div>
    </div>

    <div ng-if="cases.length ==0">
      暂无病历
    </div>


    <!--<div class="col-xs-12 media" ng-repeat="case in cases">-->
    <!--<div class="media-left">-->
    <!--<a href="#">-->
    <!--<img class="media-object avatar-md" ng-src="{{case.creator.avatar}}">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<h4 class="media-heading">{{case.creator.name}}</h4>-->
    <!--{{case.content}}-->
    <!--<div>-->
    <!--<small>{{case.displayCreated}}</small>-->
    <!--<span class="pull-right">-->
    <!--<span ng-show="case.canDelete">-->
    <!--<a href="" ng-click="deleteCase($index)">删除</a> |-->
    <!--</span>-->
    <!--<a href="" ng-click="showCommentInput($index)">评论</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--<p></p>-->

    <!--<div class="general-item-list" ng-if="case.link" ng-click="showLinkTarget(case.link)">-->
    <!--<div class="item">-->
    <!--<div class="item-head">-->
    <!--<div class="item-details">-->
    <!--<img class="item-pic" ng-src="{{case.link.avatar}}">-->
    <!--<span class="item-name">{{case.link.title}}</span>-->
    <!--</div>-->
    <!--<span class="item-status"></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="input-group" ng-show="case.isShowCommentInput">-->
    <!--<input type="text" class="form-control" placeholder="评论..." ng-model="newComment.comment">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default" type="button" ng-click="createComment($index)">发布</button>-->
    <!--</span>-->
    <!--</div>-->

    <!--<ul class="list-group">-->
    <!--<li class="list-group-item disabled" ng-repeat="comment in case.comments">-->
    <!--{{comment.creator.name}}：{{comment.comment}} <a href="" ng-show="comment.canDelete"-->
    <!--ng-click="deleteComment(case, $index)"-->
    <!--class="pull-right">删除</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row" ng-show="cases.length == 0">-->
    <!--<h4 class="text-center">暂无病历</h4>-->
    <!--</div>-->
  </div>
</div>
