<div class="portlet light">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject font-blue-madison bold uppercase">患者病历</span>
    </div>
    <div class="actions">
      <a ng-href="" class="btn btn-circle btn-sm" ng-class="{'default': !btnPressed, 'red': btnPressed}" ng-click="hideNonFriendCases()">
        <i class="fa fa-user"></i> 只看好友
      </a>
    </div>
  </div>

  <div class="portlet-body">
    <div class="row" ng-if="hasPostPrivilege">
      <div class="col-xs-12">
        <form>
          <textarea class="form-control" rows="3" ng-model="newCase.content"></textarea>

          <p></p>

          <div class="general-item-list pull-left" ng-show="newCase.link">
            <div class="item">
              <div class="item-head">
                <div class="item-details">
                  <img class="item-pic" ng-src="{{newCase.link.avatar}}">
                  <span class="item-name">{{newCase.link.title}}</span>
                </div>
                <span class="item-status"></span>
              </div>
            </div>
          </div>

          <!--<div class="alert alert-danger" ng-show="uiFlags.isInvalidContent">请输入内容或添加链接。</div>-->
          <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default" id="links" name="links" bs-dropdown="ddLinkTypes">
              {{selectedLink.label}} <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-success" ng-click="createCase()">发布</button>
          </div>
        </form>
      </div>
    </div>


    <div class="general-item-list" ng-show="cases && cases.length > 0">
      <div class="item" ng-repeat="case in cases">
        <div class="item-head">
          <div class="item-details">
            <img class="item-pic" ng-src="{{case.creator.avatar}}" ng-click="showDetails(case.creator)">
            <span class="item-name primary-link">{{case.creator.name}}</span>
            <span class="item-label"><small>{{case.link.text}}</small></span>
          </div>
          <span class="item-status"></span>
        </div>
        <div class="item-body">
          {{case.content}}

          <div ng-if="case.link.linkType == 'image'">
            <img ng-src="{{case.link.avatar}}" style="width:30%" ng-click="showLinkTarget(case.link)">
          </div>


          <div class="space-10"></div>
          <div class="case-attachment" ng-if="case.link && case.link.linkType != 'image'">
            <div class="general-item-list" ng-click="showLinkTarget(case.link)">
              <div class="item">
                <div class="item-head">
                  <div class="item-details">
                    <!--<i class="fa fa-link"></i>-->
                    <img class="item-pic" ng-src="{{case.link.avatar}}">
                    <span class="item-name primary-link">{{case.link.title}}</span>
                  </div>
                  <span class="item-status"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="item-footer">
          <div class="item-date">
            <span class="item-label"><small>{{case.displayCreated}}</small></span>
            <span ng-show="case.canDelete" style="margin-left: 10px">
              <a href="" ng-click="deleteCase($index)">
                <small>删除</small>
              </a>
            </span>
          </div>
            <span class="item-status">
              <a href="" ng-click="showCommentInput($index)">
                <small>评论</small>
              </a>
            </span>
        </div>

        <div class="item-comment" ng-if="case.comments.length > 0">
          <span class="triangle"></span>
          <ul class="list-group">
            <li class="list-group-item disabled" ng-repeat="comment in case.comments">
              {{comment.creator.name}}：{{comment.comment}}
              <a href="" ng-show="comment.canDelete" ng-click="deleteComment(case, $index)" class="pull-right">
                <small>删除</small>
              </a>
            </li>
          </ul>
        </div>
        <div class="item-comment input-group" ng-show="case.isShowCommentInput">
          <input type="text" class="form-control" placeholder="评论..." ng-model="newComment.comment">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="createComment($index)">发布</button>
            </span>
        </div>
      </div>
    </div>

    <div ng-if="cases.length ==0">
      暂无病历
    </div>
  </div>
</div>
