<div class="page-header">
  <h3>我的医生</h3>
</div>

<section>
  <div class="btn-group btn-group-justified" role="group" aria-label="">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: uiFlags.type=='suizhen'}"
              ng-click="displayDoctors('suizhen')"> 随诊医生
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: uiFlags.type=='jiwang'}"
              ng-click="displayDoctors('jiwang')"> 既往医生
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-class="{active: uiFlags.type=='putong'}"
              ng-click="displayDoctors('putong')"> 普通医生
      </button>
    </div>
  </div>
</section>

<section id="myDoctors" ng-if="doctors">
  <span ng-show="doctors.length == 0">没有数据</span>

  <div class="general-item-list">
    <div class="item" ng-repeat="doctor in doctors" ng-swipe-left="onSwipeLeft($index)">
      <div class="item-head">
        <div class="item-details" ng-click="showDetails(doctor.id)">
          <div class="item-pic-container">
            <img class="item-pic" ng-src="{{doctor.displayAvatar}}">
            <span class="item-pic-v-icon" ng-show="doctor.isShowVIcon"><i class="fa fa-vimeo-square"></i></span>
          </div>
          <span class="item-name">{{doctor.name}}</span>
          <span class="item-label"></span>
        </div>
        <span class="item-status">{{doctor.hospital}}&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" ng-show="doctor.isShowDeleteButton" ng-click="deleteRelation($index)">删除</button>
        </span>
      </div>
    </div>
  </div>
</section>
