<div ng-show="doctor">
  <div class="portlet light">
    <div class="profile-userpic">
      <img ng-src="{{doctor.avatar}}" class="img-responsive" alt="">
    </div>

    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        {{doctor.name}}
      </div>
      <div class="profile-usertitle-job">
        {{doctor.title}}
      </div>
    </div>

    <div class="profile-userbuttons">
      <div class="follow-buttons" ng-if="!isSelf">
        <button type="button" class="btn btn-primary btn-circle btn-lg" ng-if="currentUser.isPatient && !isFollowed"
                ng-click="showAddFriendModal('doctor')">加为好友
        </button>
        <!--<button type="button" class="btn btn-danger btn-circle btn-lg" ng-show="currentUser.isPatient && isFollowed"-->
        <!--ng-click="unfollowDoctor()">取消关注-->
        <!--</button>-->
        <button type="button" class="btn btn-success btn-circle btn-lg"
                ng-if="currentUser.isDoctor && !friendStatus" ng-click="showAddFriendModal()">加为好友
        </button>
        <button type="button" class="btn btn-danger btn-circle btn-lg"
                ng-if="friendStatus.status=='accepted'" ng-click="deleteFriend(friendStatus._id)">删除好友
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-if="friendStatus.isFromMe && friendStatus.status=='requested'" disabled>已发送好友请求，等待对方响应
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-if="friendStatus.isFromMe && friendStatus.status=='rejected'" disabled>对方已拒绝你的好友请求
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-if="friendStatus.isToMe && friendStatus.status=='rejected'" disabled>你已拒绝对方的好友请求
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-if="friendStatus.isToMe && friendStatus.status=='requested'" disabled>对方请求加你为好友
        </button>
      </div>
    </div>
  </div>


  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-blue-madison bold uppercase">医生信息</span>
      </div>
      <div class="actions" ng-if="isSelf">
        <a ui-sref="profile-edit({ openid: doctor.wechat.openid })" class="btn btn-circle btn-icon-only btn-default">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <!--<h4 class="profile-desc-title">医生简介</h4>-->
      <span class="profile-desc-text">{{doctor.introduction}}</span>

      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-hospital-o"></i>
        <span>医院：{{doctor.hospital}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-stethoscope"></i>
        <span>科室：{{doctor.department}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-birthday-cake"></i>
        <span>年龄：{{doctor.age}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-venus-mars"></i>
        <span>性别：{{doctor.displaySex}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-reorder"></i>
        <span>ID：{{doctor.number}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-thumbs-o-up"></i>
        <span>级别：{{doctor.displayLevel}}</span>
      </div>
    </div>
  </div>


  <div class="portlet light" ng-if="isSelf">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-blue-madison bold uppercase">服务价格</span>
      </div>
      <div class="actions">
        <a class="btn btn-circle btn-icon-only btn-default" href="" ng-if="!editingService" ng-click="editService()"
           ng-disabled="disableServicePrivilege">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      </div>
    </div>
    <div class="alert alert-warning" role="alert" ng-show="disableServicePrivilege">
      添加5个好友升级为正式用户，即可设置服务价格。
    </div>

    <div ng-if="!editingService">
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-plus"></i>
        <span>加号：{{jiahao.price}} 元</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-calendar-check-o"></i>
        <span>随诊：{{suizhen.price}} 元</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-users"></i>
        <span>会诊：{{huizhen.price}} 元</span>
      </div>
    </div>

    <div ng-if="editingService">
      <form role="form">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn green" type="button">加号</button>
					</span>
          <input type="number" class="form-control text-right" placeholder="0" ng-model="jiahao.price">
          <span class="input-group-btn">
					  <button class="btn" type="button">元/次</button>
					</span>
        </div>
        <p></p>

        <div id="editJiahao" class="panel panel-default">
          <div class="panel-heading">设置每日加号数量</div>
          <div class="panel-body">
            <div class="input-group" ng-repeat-start="(day, number) in jiahao.weekQuantity">
						  <span class="input-group-btn">
							  <button class="btn green-haze" type="button">{{days[day]}}</button>
							</span>
              <input type="number" class="form-control text-right" placeholder="0" ng-model="jiahao.weekQuantity[day]">
							<span class="input-group-btn">
							  <button class="btn" type="button">个</button>
							</span>
            </div>
            <p ng-repeat-end></p>
          </div>
        </div>

        <div class="input-group">
					<span class="input-group-btn">
					  <button class="btn green" type="button">随诊</button>
					</span>
          <input type="number" class="form-control text-right" placeholder="0" ng-model="suizhen.price">
					<span class="input-group-btn">
					  <button class="btn" type="button">元/月</button>
					</span>
        </div>
        <p></p>

        <div class="input-group">
          <span class="input-group-btn">
					  <button class="btn green" type="button">会诊</button>
					</span>
          <input type="number" class="form-control text-right" placeholder="0" placeholder="0" ng-model="huizhen.price">
					<span class="input-group-btn">
					  <button class="btn" type="button">元/次</button>
					</span>
        </div>
        <p></p>

        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-success btn-block" ng-click="editService()">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div ng-if="!isSelf">
    <div class="dashboard-stat2">
      <div class="display">
        <div class="number">
          <h3 class="font-green-sharp" ng-if="currentUser.isDoctor">{{jiahao.price}}
            <small class="font-green-sharp">元</small>
          </h3>
          <h3 class="font-green-sharp" ng-if="currentUser.isPatient">{{jiahao.billingPrice}}
            <small class="font-green-sharp">元</small>
          </h3>
          <small>加号</small>
        </div>
        <div class="icon" style="float:none;position: absolute; left:120px">
          <i class="fa fa-plus" style="font-size: 140px;color:lightgoldenrodyellow;position: relative;top: 50px"></i>
        </div>
        <a href="" class="icon-btn pull-right" ng-click="showAddJiahaoModal()"
           ng-disabled="!jiahao.price" ng-if="currentUser.isPatient">
          <i class="fa fa-check-square-o"></i>

          <div>购买</div>
        </a>
      </div>
      <div class="progress-info" style="position:relative;z-index: 100">
        <!--<button type="button" class="btn btn-sm btn-success pull-right">购买</button>-->
        <div class="status">
          购买加号单可以不用排队挂号，预约当天即可挂号到该医生。
        </div>
      </div>
    </div>

    <div class="dashboard-stat2">
      <div class="display">
        <div class="number">
          <h3 class="font-green-sharp" ng-if="currentUser.isDoctor">{{suizhen.price}}
            <small class="font-green-sharp">元</small>
          </h3>
          <h3 class="font-green-sharp" ng-if="currentUser.isPatient">{{suizhen.billingPrice}}
            <small class="font-green-sharp">元</small>
          </h3>
          <small>随诊</small>
        </div>
        <div class="icon" style="float:none;position: absolute; left:120px">
          <i class="fa fa-calendar-check-o"
             style="font-size: 120px;color:lightgoldenrodyellow; position: relative;top: 50px"></i>
        </div>
        <a href="" class="icon-btn pull-right" ng-click="showAddSuizhenModal()"
           ng-disabled="!suizhen.price" ng-if="currentUser.isPatient">
          <i class="fa fa-check-square-o"></i>

          <div>购买</div>
        </a>
      </div>
      <div class="progress-info" style="position:relative;z-index: 100">
        <!--<button type="button" class="btn btn-sm btn-success pull-right">购买</button>-->
        <div class="status">
          随诊是一种长期服务，价格单位为每月。
        </div>
      </div>
    </div>

    <div class="dashboard-stat2">
      <div class="display">
        <div class="number">
          <h3 class="font-green-sharp" ng-if="currentUser.isDoctor">{{huizhen.price}}
            <small class="font-green-sharp">元</small>
          </h3>
          <h3 class="font-green-sharp" ng-if="currentUser.isPatient">{{huizhen.billingPrice}}
            <small class="font-green-sharp">元</small>
          </h3>
          <small>会诊</small>
        </div>
        <div class="icon" style="float:none;position: absolute; left:120px">
          <i class="fa fa-users" style="font-size: 120px;color:lightgoldenrodyellow; position: relative;top: 50px"></i>
        </div>
        <a href="" class="icon-btn pull-right" ng-click="showAddHuizhenModal()"
           ng-disabled="!huizhen.price" ng-if="currentUser.isPatient">
          <i class="fa fa-check-square-o"></i>

          <div>购买</div>
        </a>
      </div>
      <div class="progress-info" style="position:relative;z-index: 100">
        <!--<button type="button" class="btn btn-sm btn-success pull-right">购买</button>-->
        <div class="status">
          会诊是2名以上医生参与的联合诊断服务。
        </div>
      </div>
    </div>
  </div>
</div>
