<div id="alert"></div>
<div ng-show="patient">
  <div class="portlet light">
    <div class="profile-userpic">
      <img ng-src="{{patient.avatar}}" class="img-responsive" alt="">
    </div>

    <div class="profile-usertitle">
      <div class="profile-usertitle-name">
        {{patient.name}}
      </div>
      <div class="profile-usertitle-job">

      </div>
    </div>

    <div class="profile-userbuttons" ng-hide="isSelf || currentUser.isDoctor">
      <div class="follow-buttons">
        <button type="button" class="btn btn-primary btn-circle btn-lg"
                ng-show="!friendStatus" ng-click="showAddFriendModal()">加为好友
        </button>
        <button type="button" class="btn btn-danger btn-circle btn-lg"
                ng-show="friendStatus.status=='accepted'" ng-click="deleteFriend(friendStatus._id)">删除好友
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-show="friendStatus.isFromMe && friendStatus.status=='requested'" disabled>已发送好友请求，等待对方响应
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-show="friendStatus.isFromMe && friendStatus.status=='rejected'" disabled>对方已拒绝你的好友请求
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-show="friendStatus.isToMe && friendStatus.status=='rejected'" disabled>你已拒绝对方的好友请求
        </button>
        <button type="button" class="btn btn-warning btn-circle btn-lg"
                ng-show="friendStatus.isToMe && friendStatus.status=='requested'" disabled>对方请求加你为好友
        </button>
      </div>
    </div>
  </div>

  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption">
        <span class="caption-subject font-blue-madison bold uppercase">详细信息</span>
      </div>
      <div class="actions" ng-if="isSelf">
        <a ui-sref="profile-patient-edit({ openid: patient.wechat.openid })" class="btn btn-circle btn-icon-only btn-default">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div ng-repeat="sickness in patient.sickness">
        <span class="profile-desc-text">{{sickness}}</span>
      </div>

      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-birthday-cake"></i>
        <span>年龄：{{patient.age}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-venus-mars"></i>
        <span>性别：{{patient.displaySex}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-globe"></i>
        <span>地区：{{patient.province}} {{patient.city}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-reorder"></i>
        <span>ID：{{patient.number}}</span>
      </div>
      <div class="margin-top-20 profile-desc-link">
        <i class="fa fa-thumbs-o-up"></i>
        <span>级别：{{patient.displayLevel}}</span>
      </div>
    </div>
  </div>
</div>
